---

- name: Spin up proxy instance
  ec2:
   region: "{{aws_region}}"
   aws_access_key:   "{{ aws_access_key }}"
   aws_secret_key:   "{{ aws_secret_key }}"
   image: "{{instance_ami_proxy}}"
   instance_type: "{{ Proxy_Env.InstanceType }}"
   tenancy: "{{ VpcInstanceTenancy }}"
   key_name: "{{ instance_key }}"
   source_dest_check: "{{ instance_source_destination_check }}"
   vpc_subnet_id: "{{ SubnetIds.public }}"
   group_id: "{{ SecurityGroupIds.tw_proxy }}"
   instance_tags: "{{ Proxy_Env.Tags }}"
   count_tag: "{{ Proxy_Env.CountTags }}"
   exact_count: "{{ Proxy_Env.ExactCount }}"
   volumes: "{{ Proxy_Env.InstanceVolumes[0].VolumeSpecifications }}"
   assign_public_ip: yes
   wait: yes
  register: proxy_instances

- name: create identifier sequence for proxy tagging
  debug: msg="{{ item }}"
  with_sequence: start="{{ Proxy_Env.StartIndex }}" count="{{ Proxy_Env.ExactCount }}" format=%02d
  register: proxy_sequence

#- debug: msg="{{ created_instances.tagged_instances }}"

- name: tag proxy instances
  ec2_tag:
    region: "{{aws_region}}"
    aws_access_key:   "{{ aws_access_key }}"
    aws_secret_key:   "{{ aws_secret_key }}"
    resource: "{{ item.0.id }}"
    tags:
      Name: "{{ Proxy_Env.Tags.environment }}{{ item.1.msg }}"
  with_together:
      - proxy_instances.tagged_instances
      - proxy_sequence.results

- name: Update pub security group for pub proxy
  environment:
      AWS_ACCESS_KEY_ID: "{{ aws_access_key }}"
      AWS_SECRET_ACCESS_KEY: "{{ aws_secret_key }}"
  shell: "aws ec2 modify-instance-attribute --instance-id {{ proxy_instances.tagged_instances[1].id }} --groups {{ SecurityGroupIds.public_proxy }} "




