global
  maxconn 1028
  daemon
  user haproxy
  group haproxy

defaults
  timeout connect 6000ms
  timeout client 60000ms
  timeout server 60000ms
  mode    http

frontend public
  bind *:80
  acl host_qa01 hdr(host) -i qa01.mybahmni.org
  use_backend qa01 if host_qa01
  acl host_qa02 hdr(host) -i qa02.mybahmni.org
  use_backend qa02 if host_qa02

backend qa01
  server qa01 {{ qa01_private_ipaddress }}
backend qa02
  server qa02 172.21.3.163