global
  maxconn 1028
  tune.ssl.default-dh-param 2048
  daemon
  user haproxy
  group haproxy

defaults
  timeout connect 6000ms
  timeout client 60000ms
  timeout server 60000ms
  mode    http
  option forwardfor
  option http-server-close
  stats enable
  stats uri /stats
  stats realm Haproxy\ Statistics
  stats auth user:password

frontend https_443_frontend
  bind *:443 ssl crt /etc/ssl/mybahmni.org.pem
  reqadd X-Forwarded-Proto:\ https
   {% for h in under_tw_proxy_instances.instances %}
     acl host_{{ h.tags.Name }} hdr(host) -i {{ h.tags.Name }}.mybahmni.org
     use_backend {{h.tags.Name}} if host_{{ h.tags.Name }}
   {% endfor %}

{% for h in under_tw_proxy_instances.instances %}
backend {{ h.tags.Name }}
  redirect scheme https if !{ ssl_fc }
  mode http
  server {{ h.tags.Name }} {{ h.private_ip_address }}:80
{% endfor %}
